<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='./css/bootstrap.css') }}" />
</head>
<body>
    <div class="bg-light text-dark text-left col-8 my-5 mx-auto"">
        <div class="container">
            <div class="nav"></div>
            
            <div class="main">
                <h1>All My Friends:</h1>
                {% for one_friend in all_friends %}
                <p>First Name: {{one_friend.first_name}}</p>
                <p>Last Name: {{one_friend.last_name}}</p>
                <p>Occupation: {{one_friend.occupation}}</p>
                    <form action="/remove-friend" method="POST">
                        <input type="text" name="id" value="{{one_friend.id}}" hidden>
                        <input type="submit" class="btn" value="Remove This friend">
                    </form>
                <hr>
                {% endfor %}
                
            </div>
        </div>
        <a href="/" class="btn margin-1">Home</a>
    </div>

</body>
<script type="text/javascript" src="{{url_for('static', filename ='./js/bootstrap.min.js') }}"></script>
</html>