<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='./css/bootstrap.css') }}" />
</head>
<body class="bg-off-white">
    <div class="bg-dark text-light text-center col-8 my-5 mx-auto">
        <div class="container">
            <nav class="">
                <h1>Welcome to the friend zone!</h1>
            </nav>
        
            <main>
                <div class="navbar">
                    <p class="h2">
                        Add a Friend
                    </p>
                    <p class="h3">
                        <a href="/friends" class="text-light">See My Friends</a>
                    </p>
                </div>
                <form class="text-left" action="/create-friend" method="POST">
                    <label>
                        First Name:
                    </label>
                        <input class="form-control" type="text" name="fname" required>
                    
                    <label>
                        Last Name:
                    </label>
                        <input class="form-control" type="text" name="lname" required>
                    
                    <label>
                        Occupation:
                    </label>
                        <input class="form-control" type="text" name="occ" required>
                    
                    <input class="btn margin-2" type="submit" value="Add Friend">
                </form>
            </main>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{url_for('static', filename ='./js/bootstrap.min.js') }}"></script>
</html>